body {
    font-family: sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: green;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #d8bebe;
}

th {
    background-color: #008CBA;
    color: white;
}

h1 {
    margin-top: 50px;
    font-size: 2em;
}

* {
    background-color: antiquewhite;
}